/* <!-- my color pallete: #596a48, #212528, #999788, #c9c1b6, #403b35 --> */
    header {
        position: fixed;
        top: 0;
        width: 100%;
        background-color: #000;
        z-index: 1000;
        padding: 10px 0;
    }
    body {
        padding-top: 120px;
        background-color:#212528;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        margin: 0;
        height: auto;
    }
    h1 {
        color: #596a48;
        text-align: center;
    }
    
    p {
        color: #c9c1b6;
        text-align: center;
    }

    article, form {
        background-color: #c9c1b6;
        border: 1px solid #999788;
        border-radius: 10px;
        box-shadow: 0px 0px 10px rgba(89, 106, 72, 0.5);
        padding: 20px; /* Adds space inside the card */
        margin: 20px auto; /* Adds space outside the card */
        max-width: 600px; /* Adjust based on your design needs */
        width: 100%; /* Makes it responsive */
        box-sizing: border-box;
    }

    article > p {
        color: #212528;
    }

    section {
        text-align: center;
        background-color: #c9c1b6;
    }

